src/main/mule/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="20e15ec0-14d0-41d5-a56d-a70aa920c552" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="61506d97-4f74-4619-ad6e-9604aea9c375" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="rangak516@gmail.com" password="Konda@123" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="4c4f0ac9-d7e7-455b-8178-bc611bccc324" />
	<flow name="emailFlow" doc:id="dbb47af7-8723-4490-ade5-094d9ad5d832" >
		<http:listener doc:name="Listener" doc:id="c6718dc5-154f-40e2-a3f6-20e1462d16d3" config-ref="HTTP_Listener_config" path="email"/>
		<set-variable value="#[attributes.queryParams.filename]" doc:name="Set Variable" doc:id="dfd281df-1e36-4e07-b7be-4a54a590e67a" variableName="variable"/>
		<file:read doc:name="Read" doc:id="4fea81d7-6749-4059-84df-696c9ed7f60e" config-ref="File_Config" path="C:\Users\ranga\Desktop\mule\mule resume.docx"/>
		<logger level="INFO" doc:name="Logger" doc:id="af0250bc-4b35-48b0-835a-7f40a6ec3b94" message="#[payload]"/>
		<email:send doc:name="Send" doc:id="9930f128-1e71-4132-9fea-a952a47e34e5" config-ref="Email_SMTP" fromAddress="rangak516@gmail.com" subject="email from mulesoft">
			<email:to-addresses >
				<email:to-address value="rangak516@gmail.com" />
			</email:to-addresses>
			<email:body >
				<email:content ><![CDATA[hi welcome to mule soft]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
 "attachments.txt" : payload
}]]]></email:attachments>
		</email:send>
		<ee:transform doc:name="Transform Message" doc:id="41e19862-1222-4d4e-ae48-9c6b7524710d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b5bda3dd-47ab-42f8-916e-c6f085686fdb" message="#[payload]"/>
	</flow>
</mule>
